In [1]:
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd #

In [2]:
!kaggle datasets download -d patrickb1912/ipl-complete-dataset-20082020

Downloading ipl-complete-dataset-20082020.zip to C:\Users\alisa\coding\ipl

  0%|          | 0.00/1.37M [00:00<?, ?B/s]
 73%|#######3  | 1.00M/1.37M [00:00<00:00, 4.10MB/s]
100%|##########| 1.37M/1.37M [00:00<00:00, 4.27MB/s]

In [3]:
!unzip ipl-complete-dataset-20082020.zip

Archive:  ipl-complete-dataset-20082020.zip
  inflating: IPL Ball-by-Ball 2008-2020.csv
  inflating: IPL Matches 2008-2020.csv

In [5]:
df1 = pd.read_csv("IPL Ball-by-Ball 2008-2020.csv")

In [7]:
df1.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [8]:
plotPerColumnDistribution(df1, 10, 5)

NameError: name 'plotPerColumnDistribution' is not defined